{% extends "default_layout.html" %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-3 sidebar">
      <nav class="sidebar-nav">
        <div class="sidebar-header">
          <button class="nav-toggler nav-toggler-sm sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-sm">
            <span class="sr-only">Toggle nav</span>
          </button>
          <a class="sidebar-brand img-responsive" href="index.html">
            <span class="icon icon-leaf sidebar-brand-icon"></span>
          </a>
        </div>

        <div class="collapse nav-toggleable-sm" id="nav-toggleable-sm">
          <form class="sidebar-form">
            <input class="form-control" type="text" placeholder="Search...">
            <button type="submit" class="btn-link">
              <span class="icon icon-magnifying-glass"></span>
            </button>
          </form>
          <ul class="nav nav-pills nav-stacked">
            <li class="nav-header">Dashboards</li>
            <li class="active">
              <a href="index.html">Overview</a>
            </li>
            <li>
              <a href="order-history/index.html">Order history</a>
            </li>
          </ul>
          <hr class="visible-xs m-t">
        </div>
      </nav>
    </div>
    <div class="col-sm-9 content">
      <div class="dashhead">
        <div class="dashhead-titles">
          <h6 class="dashhead-subtitle">Dashboards</h6>
          <h2 class="dashhead-title">{{ site.name }}</h2>
        </div>
      </div>

      <hr class="m-t">

      <div class="row">

          <div class="col-sm-12 m-b-md">

              <div class="form-group">
                  <label for="comment">Tracking code:</label>
                  <input class="form-control" rows="4" id="comment" value="{{ site.tracking_code }}" disabled>
              </div>

          </div>

          <div class="col-lg-6 col-sm-12">
              <h4>Page Views</h4>
              <h1>{{ page_views }}</h1>
          </div>

          <div class="col-lg-6 col-sm-12">
              <h4>Unique IPs</h4>
              <h1>{{ unique_ips }}</h1>
          </div>

          <div class="col-lg-6 col-sm-12 m-b-md">
              <div class="list-group">
                  <h4 class="list-group-header">
                      Most visited pages
                  </h4>

                  {% for url, title, count in top_pages %}
                      <a class="list-group-item" href="#">
                          <span class="pull-right text-muted">{{ count }}</span>
                          {{ url }} {{ title }}
                      </a>
                  {% endfor %}

              </div>
              <a href="#" class="btn btn-primary-outline p-x">View all pages</a>
          </div>



      </div>

      <div class="hr-divider m-t-md m-b">
        <h3 class="hr-divider-content hr-divider-heading">Quick stats</h3>
      </div>


    </div>
  </div>
</div>
{%  endblock %}