{% extends "default_layout.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-3 sidebar">
            {% include "sites/sidebar.html" %}
        </div>
        <div class="col-sm-9 content">
            <div class="dashhead">
                <div class="dashhead-titles">
                    <h6 class="dashhead-subtitle">Traffic Hours</h6>
                    <h2 class="dashhead-title">{{ site.name }}</h2>
                </div>
            </div>

            <hr class="m-t">

            <div class="row text-center">
                <div class="col-sm-12 m-b-md">
                    <canvas id="trafficHoursChart"></canvas>
                    <h3>Traffic distribution among hours</h3>
                </div>
            </div>

            <hr class="m-t">

        </div>
    </div>

    <script type="text/javascript">
        var stats_url = "{{ url_for('site.api_pageview', site_domain=site.domain) }}";
    </script>
{%  endblock %}
